/*
*	Main styles
*
*	Common styles
*/

section {
  &[class*="color-theme-1"] {
    width: 100vw;
    height: 40vh;
  }

  &[class*="color-theme-2"] {
    position: relative;
    width: 100vw;
    padding: 8rem 10vw;
    box-shadow: 0 0 1rem var(--shadow-color);
    overflow: hidden;
  }

  .content {
    z-index: 1;

    h1 {
      margin-bottom: 3rem;
      margin-top: 3rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

    ul li {
      margin: 0.5rem;

      img {
        width: 2.5rem;
        height: auto;
      }
    }
  }
}
