/*
*	Main styles
*
*	Common styles
*/
section {
	&[class*="color-theme-1"] {
		width: 100vw;
		height: 50vh;
	}

	&[class*="color-theme-2"] {
		position: relative;
		width: 100vw;
		padding: 8rem 10vw;
		box-shadow: 0 0 1rem var(--shadow-color);
		overflow: hidden;
	}

	.content {
		z-index: 1;

		h1 {
			margin-bottom: 3rem;
			margin-top: 3rem;

			&:first-of-type {
				margin-top: 0;
			}
		}

		ul li {
			margin: 0.5rem;

			img {
				width: 2.5rem;
				height: auto;
			}
		}
	}
}

/*
*	Style sections
*/
#section-style-start {
	background: url("/src/img/code_block_web.svg") no-repeat var(--bg-color);
	background-position: calc(50% - 6rem) 0;
	background-size: auto 90%;
	margin-top: 1rem;
}

#section-style-languages {
	background: url("/src/img/webdev.svg") no-repeat var(--bg-color);
	background-position: calc(50% - 2rem) 0;
	background-size: auto 100%;
}

#section-style-pcs {
	background: url("/src/img/pcs.svg") no-repeat var(--bg-color);
	background-position: calc(50% - 6rem) 0;
	background-size: auto 90%;
}

#section-style-bubbles {
	background: url("/src/img/speech_bubbles_grey.png") no-repeat var(--bg-color);
	background-position: calc(50% - 0rem) 4rem;
	background-size: auto 60%;
}
