/*
*	General
*/
* {
  font-family: "Comfortaa", "Hurme Geometric Sans 3", "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Comfortaa", "Hurme Geometric Sans 3", "Trebuchet MS", sans-serif;
  margin: auto;
  overflow: auto;
  text-align: center;
  font-size: 1.1rem;
  word-break: break-word;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--general-transition);
  letter-spacing: 0.02rem;
}

::selection {
  background-color: var(--accent-color);
  color: $gray-200;
  text-shadow: none !important;
}

p,
a {
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

h1 {
  margin: 0 0;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Hurme Geometric Sans 3";

  &:after {
    content: "";
    display: block;
    position: relative;
    bottom: -0.4rem;
    height: 0.4rem;
    background-color: var(--accent-color);
    transform: scaleX(0.7);
    transform-origin: bottom right;
    transition: var(--general-transition);
  }
}

button {
  border: none;
  background: inherit;
}

#svg-gradients,
#page_num {
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: -10;
  width: 0.1px;
  height: 0.1px;
}

/*
*	General classes
*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.faded {
  opacity: 0.6;
}

.highlighted {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: var(--accent-color);
    transition: var(--general-transition);
  }
}

.round-style {
  display: none;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  border: var(--bg-color) 1px solid;
  background-color: var(--bg-color-2);
  // box-shadow: 0 0 0.9rem var(--shadow-color);
  transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1),
    var(--general-transition);
}
