/*
*	Shapes and animations styles
*
* Menu button animation
*/
#hamburger {
	
	span:before {
		width: 80%;
		bottom: 0.75rem;
	}

	span {
		top: calc(50% - 0.25rem / 2);
	}

	span:after {
		width: 70%;
		top: 0.75rem;
	}

/* Arrow style */
	&.arrow {
		span:before {
			width: 40%;
			bottom: calc(0.75rem - 0.25rem / 2 - 0.3rem);
			transform: translateX(0) rotate(45deg);
		}

		span {
			width: 80%;
			right: 0.1rem;
		}

		span:after {
			width: 40%;
			top: calc(0.75rem - 0.25rem / 2 - 0.3rem);
			transform: translateX(0) rotate(-45deg);
		}
	}
}

/*
*	Shapes styling
*
*	Containers
*/
.corner-div-1,
.corner-div-2,
.corner-div-3,
.corner-div-4 {
	position: absolute;
	display: inline-block;
	height: 0;
	width: 100%;
	padding-bottom: 15%;
}

.corner-div-1 {
	top: 0;
	left: 0;

	&:after {
		clip-path: polygon(90% 0, 0 0, 0 90%);
	}
}
/* Top right corner */
.corner-div-2 {
	top: 0;
	right: 0;

	&:after {
		clip-path: polygon(10% 0, 100% 90%, 100% 0);
	}
}

/* Bottom left corner */
.corner-div-3 {
	bottom: 0;
	left: 0;

	&:after {
		clip-path: polygon(90% 100%, 0 100%, 0 10%);
	}
}

/* Bottom right corner */
.corner-div-4 {
	bottom: 0;
	right: 0;
	width: 30%;

	&:after {
		clip-path: polygon(100% 10%, 100% 100%, 10% 100%);
	}
}

/*
*	Vertical containers
*/
.corner-div-1.vertical,
.corner-div-2.vertical,
.corner-div-3.vertical,
.corner-div-4.vertical {
	width: 15%;
	padding-bottom: 80%;
}

/* 
* Shapes
*/
.corner-div-1::after,
.corner-div-2::after,
.corner-div-3::after,
.corner-div-4::after,
.corner-div-1.vertical::after,
.corner-div-2.vertical::after,
.corner-div-3.vertical::after,
.corner-div-4.vertical::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);
	transition: var(--general-transition);
}
