/*
*	Shapes and animations styles
*
* Menu button animation
*/
#hamburger {
	span:before {
		width: 80%;
		bottom: 0.75rem;
	}

	span {
		top: calc(50% - 0.25rem / 2);
	}

	span:after {
		width: 70%;
		top: 0.75rem;
	}

	/* Arrow style */
	&.arrow {
		span:before {
			width: 40%;
			bottom: calc(0.75rem - 0.25rem / 2 - 0.3rem);
			transform: translateX(0) rotate(45deg);
		}

		span {
			width: 80%;
			right: 0.1rem;
		}

		span:after {
			width: 40%;
			top: calc(0.75rem - 0.25rem / 2 - 0.3rem);
			transform: translateX(0) rotate(-45deg);
		}
	}
}

/* 
* SVG shapes
*/
.svg-path-fill,
.svg-path-fill-dark {
	transition: var(--svg-transition);
}

.svg-path-fill {
	fill: var(--accent-color);
}

.svg-path-fill-dark {
	fill: var(--accent-color-dark);
}

[class*="svg-"] {
	width: 32%;
	position: absolute;
}

/*
* SVG shapes positionning
*/
.svg-top-left {
	top: 0;
	left: 0;
}

.svg-top-right {
	top: 0;
	right: 0;
}

.svg-bottom-left {
	bottom: 0;
	left: 0;
}

.svg-bottom-right {
	bottom: 0;
	right: 0;
}
