#section-style-jinskow {
	background-image: url("/src/img/creations/preview_jinskow.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}

#section-style-php_api {
	background-image: url("/src/img/creations/preview_php_api.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
