<section id="section-jinskow" class="color-theme-2 flex column">
	<div class="corner-div-1"></div>

	<div class="content flex column">
		<h1>Jinskow</h1>

		<p>Mon premier projet axé frontend !</p>

		<p>
			<span class="underline bold uppercase">Jinskow</span>
			: vidéaste créateur de contenu, principalement sur les plateformes Twitch
			et YouTube.
		</p>

		<p>
			Site réalisé pour centraliser ses réseaux sociaux et mettre en valeur son
			contenu principal sur les différentes plateformes.
		</p>

		<p>Vidéos récupérées auprès de Google grâce à l'API YouTube.</p>

		<p>
			Le nom de domaine est enregistré auprès de Twitch et le serveur gère
			automatiquement son authentificateur OAuth2 : si le token est arrivé à
			expiration, il sera renouvelé avant de retenter de récupérer les données.
		</p>

		<p>
			Site internet hébergé <a href="https://jinskow.fr/">à cette adresse</a> !
		</p>
	</div>

	<div class="corner-div-4"></div>
</section>

<section id="section-style-pcs" class="color-theme-1"></section>
