<section id="section-style-php_api" class="color-theme-1 full-size-background"></section>

<section id="section-php_api" class="color-theme-2 flex column">
	<div class="corner-div-1"></div>

	<div class="content flex column">
		<h1>API PHP</h1>

		<p>API documentée sans aucun framework, écrite en pur PHP.</p>

		<p>
			Projet réalisé pour la sélection de la formation de niveau 6 (Bac+3/4) Concepteur Développeur d'Applications chez <a href="http://simplon.co">Simplon.co</a>.
		</p>

		<p>
			Un routeur permet de séparer le site (qui ne contient que la documentation) de l'API, et donc par conséquent, les messages d'erreur en JSON des pages d'erreur HTML par exemple.
		</p>

		<p>
			Projet <a href="https://github.com/MaoDeMatos/PHP_API">à cette adresse</a> !
		</p>
	</div>

	<div class="corner-div-4"></div>
</section>
