<!-- Portfolio section -->
<section
  id="section-style-portfolio"
  class="color-theme-1 full-size-background flex"
>
  <h1 style="font-family: Comfortaa">Mao De Matos</h1>
</section>

<section id="section-portfolio" class="color-theme-2 flex column">
  <div class="content flex column">
    <h1>Ce site internet !</h1>

    <p>Pas grand chose à expliquer :</p>

    <p>Axé frontend et créé pour pouvoir présenter mon travail !</p>

    <p>
      J'ai utilisé
      <a href="https://app.haikei.app/" class="highlighted">Haikei</a> pour
      créer les éléments de style !
    </p>

    <p>
      Code source
      <a href="https://github.com/MaoDeMatos/portfolio" class="highlighted"
        >par ici</a
      >
      !
    </p>
  </div>

  <svg
    class="svg-top-right"
    viewBox="0 0 135.2 135.2"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use xlink:href="#blob-2" />
  </svg>
</section>
