<!-- Define svg gradients -->
<svg id="svg-gradients" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<!-- IDs = "grad-x", where "x" =
		t : top, b : bottom, l : left, r : right -->

		<linearGradient id="grad-tl" x1="0" y1="0" x2="100%" y2="100%">
			<stop offset="20%" stop-color="var(--accent-color)" />
			<stop offset="100%" stop-color="var(--accent-color-2)" />
		</linearGradient>

		<linearGradient id="grad-tr" x1="100%" y1="0" x2="50%" y2="100%">
			<stop offset="20%" stop-color="var(--accent-color)" />
			<stop offset="100%" stop-color="var(--accent-color-2)" />
		</linearGradient>

		<linearGradient id="grad-bl" x1="0" y1="100%" x2="100%" y2="0">
			<stop offset="20%" stop-color="var(--accent-color)" />
			<stop offset="100%" stop-color="var(--accent-color-2)" />
		</linearGradient>

		<linearGradient id="grad-br" x1="100%" y1="100%" x2="0" y2="0">
			<stop offset="20%" stop-color="var(--accent-color)" />
			<stop offset="100%" stop-color="var(--accent-color-2)" />
		</linearGradient>
	</defs>
</svg>
