<section id="section-jinskow" class="color-theme-2 flex column">

	<svg class="svg-top-left" viewBox="0 0 135.2 135.2" xmlns="http://www.w3.org/2000/svg">
		<use xlink:href="#blob-1" />
	</svg>

	<h1>Mes créations</h1>

	<p>Un bref descriptif de chacun de mes projets.</p>

	<p>Par là pour voir <a href="creations" class="highlighted">mes quelques projets</a>.</p>

	<svg class="svg-bottom-right" viewBox="0 0 135.2 135.2" xmlns="http://www.w3.org/2000/svg">
		<use xlink:href="#blob-4" />
	</svg>

</section>
