<section id="section-style-languages" class="color-theme-1"></section>

<section id="section-competences" class="color-theme-2 flex column">
	<svg
		class="svg-top-right"
		viewBox="0 0 135.2 135.2"
		xmlns="http://www.w3.org/2000/svg"
	>
		<use xlink:href="#blob-2" />
	</svg>

	<div class="content flex column">
		<h1>Compétences</h1>

		<p>
			<span class="bold">Auto-formé</span> au développement, j'ai
			commencé sur un projet couvrant un peu toutes les bases du développement
			web, me permettant de faire du backend (PHP 7 et MySQL) et un peu de
			frontend.
		</p>
		<p>
			J'ai ensuite réalisé un projet axé frontend sur lequel j'ai pu affiner ma
			technique en CSS et JS, que j'ai vite mis en pratique, comme pour pouvoir
			améliorer cette page par exemple !
		</p>
		<p>
			J'ai donc surtout des compétences en développement
			<span class="bold">Web</span> :
		</p>

		<ul>
			<li>HTML5/CSS3</li>
			<li>Javascript (avec JQuery 3.x)</li>
			<li>PHP 7.4+ - 8.x</li>
			<li>(Bases de Bootstrap 5)</li>
		</ul>

		<p>
			Je débute aussi avec Symfony/Angular, pour passer à la vitesse supérieure
			!
		</p>

		<h1>Études et Formations</h1>

		<p>
			Titulaire d'un <span class="bold">BAC</span> Professionnel Systèmes
			Électroniques et Numériques (BAC S.E.N) au Lycée des Métiers Camille
			Claudel <span class="italic faded">(2015 à 2018)</span>.
		</p>
		<p>
			J'ai ensuite commencé un BTS Systèmes Numériques (BTS S.N) au Lycée
			Lafayette
			<span class="italic faded">(2018 à 2019)</span>, mais la formation étant
			plus centrée sur le composant en lui-même et sur la conception de cartes
			électroniques, je me suis assez rapidement désintéressé au profit de mon
			passe temps : la <span class="bold">programmation</span>.
		</p>
	</div>

	<svg
		class="svg-bottom-left"
		viewBox="0 0 135.2 135.2"
		xmlns="http://www.w3.org/2000/svg"
	>
		<use xlink:href="#blob-3" />
	</svg>
</section>
